.loading-image {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: fff;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    position: relative;
    padding-top: 50px;
    -webkit-backface-visibility: hidden;
}
@keyframes placeHolderShimmer {
    0% {
        background-position: -30vw 0;
    }
    100% {
        background-position: 30vw 0;
    }
}
