header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100%;
    gap: 20px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 10dvh 0;
        width: 50%;

        h2 {
            font-size: 2.5em;
            font-weight: 600;

            span {
                color: var(--primary-color);
            }
        }

        .bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;

            img {
                position: absolute;
            }

            .left-img {
                left: 0;
                bottom: -10dvh;
            }

            .right-img {
                right: 0;
                bottom: -10dvh;
                transform: scaleX(-1);
            }

            button {
                background-color: var(--primary-color);
                padding: 15px 30px;
                outline: none;
                border: none;
                border-radius: 10px;
                font-weight: 600;
                font-size: 1em;
            }
        }
    }
}

.glow-box {
    position: absolute;
    width: 300px;
    height: 300px;
    background: transparent;
    border-radius: 50%;
    opacity: 0.1;

    /* Light glow effect */
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200%;
        height: 200%;
        border-radius: 50%;
        background: var(--primary-color); /* Yellow glow */
        filter: blur(60px); /* Soft glow */
        transform: translate(-50%, -50%);
        z-index: -1; /* Places it behind the box */
    }
}

.whoare {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(/Images/LineSplitAbout.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    min-height: 20dvh;
    margin-top: 10dvh;

    .container {
        padding: 10dvh 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;

        .left {
            flex-basis: 70%;
            background: url(/Images/Reserve/BorderCont.svg);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-position: top;
            background-repeat: no-repeat;
            background-size: contain;
            background-clip: border-box;
            padding: 3%;

            img {
                width: 100%;
            }

            .card {
                position: absolute;
                width: 20%;
                left: 5%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                background-color: #ffffff34;
                backdrop-filter: blur(10px);
                border-radius: 15px;
                padding: 30px 20px;
                gap: 10px;

                p {
                    color: #fff;
                    flex-basis: 90%;
                    line-height: 1.4em;
                }

                span {
                    flex-basis: 10%;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                }
            }

            .bottom {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                position: relative;
                width: max-content;
                margin-top: 5dvh;

                h3 {
                    font-size: 2em;

                    span {
                        color: var(--primary-color);
                    }
                }

                img {
                    width: 14em;
                    position: absolute;
                    right: -50%;
                    bottom: -360%;
                }
            }
        }

        .right {
            flex-basis: 30%;
            position: relative;
            background: url(/Images/Reserve/BorderPhoneCont.svg);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-position: top;
            background-repeat: no-repeat;
            background-size: contain;
            background-clip: border-box;
            padding: 2%;

            .card {
                position: absolute;
                width: 80%;
                right: -20%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                background-color: #ffffff34;
                backdrop-filter: blur(10px);
                border-radius: 15px;
                padding: 30px 20px;
                gap: 10px;

                p {
                    color: #fff;
                    flex-basis: 90%;
                    line-height: 1.4em;
                }

                span {
                    flex-basis: 10%;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                }
            }

            .bottom {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                position: relative;
                width: max-content;
                margin-top: 5dvh;

                h3 {
                    font-size: 2em;

                    span {
                        color: var(--primary-color);
                    }
                }

                img {
                    width: 8em;
                    position: absolute;
                    right: -60%;
                    top: -200%;
                    rotate: -110deg;
                }
            }

            img {
                width: 80%;
            }
        }
    }
}
