.home-load {
    background-color: #121212;
    background-repeat: no-repeat;
    position: fixed;
    top: 0; // Ensure it starts at the top
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;

    img {
        width: 180px;
    }
}
