@font-face {
  font-family: "unisect-black";
  src: url("/Fonts/Unisect_Black.ttf");
}

@font-face {
  font-family: "Elegant-Ar";
  src: url("/Fonts/Elegant-ar-bold.ttf");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-color);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  -webkit-user-select: none;
  /* Safari */


  background: url(/assets/Reserve/BG.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-attachment: scroll;
  background-origin: border-box;
  min-height: 100dvh;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-display: swap;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-color-primary) var(--primary-color-dark);
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--primary-color);
}




:root {
  --primary-color-dark: #121212;
  --dark-color-primary: #FFE662;

  --primary-color-light: #FFE662;
  --light-color-primary: #FFE662;

  --light-color-grey: #FFFFFF;

  --primary-color: #FFE662;
  --secondary-color: #1e1e1e;
  --light-color: #121212;
  --black-color: #fff;
  --cards-color: #F9EA9B;

  --blog-card: #3C3C3C;

  --settings-color: #131313;

  --grey-to-dark: #3b3b3b;

  --ecd-to-black: #FFF;
  --ecd-to-grey: #3d3d3d;

  --primary-to-grey: #3C3C3C;
  --golry-to-black: #1e1e1e;

}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}


h1, h2, h3, h4, h5, h6, p, svg, li, a {
  color: var(--black-color);
}

html,
body {
  overflow-x: hidden !important;
  background-color: #121212;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

*::-webkit-scrollbar-track {
  background-color: var(--primary-color-dark);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--primary-color-dark);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--primary-color-dark);
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--dark-color-primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-color-primary);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--dark-color-primary);
}


a {
  text-decoration: none;
}

img {
  pointer-events: none;
  user-select: none;
  object-fit: contain;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.loading-skeleton {
  background:
    linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#eee, #eee),
    radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(#eee, #eee);
  background-repeat: no-repeat;
  background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px;
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
  animation: loading 1.5s infinite;


}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}


.aside-open {
  .container {
    margin-left: 260px !important;
  }
}


.back-button {
  padding: 10px 40px;

  color: var(--black-color);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media screen and (max-width: 900px) {
    padding: 10px 10px;

  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
  -webkit-box-shadow: none !important;
}