

/* Target the autocomplete dropdown */
input:-webkit-autofill {
    /* Make background transparent */
    background-color: transparent;
}

/* Target the text color inside the autocomplete dropdown for Opera */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /* Set text color */
    -webkit-text-fill-color: #1e1e1e;
    transition: background-color 5000s ease-in-out 0s;
}


/* Target the autocomplete dropdown in Opera */
input:-o-autofill {
    /* Make background transparent */
    background-color: transparent !important;

    /* Set text color */
    color: #1e1e1e !important;
}
